# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

*.class

# Package Files #
*.jar
*.war
*.ear

# binary files
target/*
java-android/target/*

# custom local file
tempfile.java

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
